/*import cc reset */
@import url('./reset.css');


/* Style General */

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.4rem;
  color: #254159;
  margin-bottom: 20px;
  padding-left: 10px;
}

h2 {
  font-size: 2rem;
  color: #254159;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8rem;
  color: #254159;
  margin-bottom: 20px;
  padding-top: 20px;
}

h4 {
  font-size: 1.6rem;
  color: #254159;
  margin-bottom: 10px;
  padding-top: 10px;
}

p {
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 1.4;
  color: #454545;
}

small{
  padding-top: 5px;
}

ul li {
  font-size: 1.4rem;
  color: #454545;
  line-height: 1.9;
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  max-width: 100%;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

/* Header Style */

header {
  background-color: #fff;
  display: block;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #254159;
}

.main-container {
  width: 99.9%;
}

.container {
  display: block;
  float: left;
  width: 90%;
  padding-bottom: 10px;
}

#logo {
  display: block;
   padding: 20px;
   padding-left: 40px;
   width: 219px;
   height: 95px;
}

.headerimg {
  display: block;
  padding: 20px;
  padding-left: 40px;
  width: 219px;
  height: 95px;
}

/*Style Banner */

#banner {
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  padding: 0%;
  margin: 0%;
}

#bannersection {
  padding: 1px 1px 1px 1px;
}

#banner {
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  padding: 0%;
  margin: 0%;
}


section {
  background-color: #ffffff;
  float: left;
  font-size: 1.5rem; /* equivalente a 15px*/
  width: 100%;
}

section nav {
  display: block;
  float: left;
  width: 30%;
  font-size: 1.5rem; /*equivalente a 15px*/
}

nav li {
  background-color: #e3e6e9;
  margin: 5px 2px 5px 2px;
  height: 30px;
  padding-left: 10px;
  list-style-type: none;
}

nav li:hover {
  background-color: #dfdfdf;
}

nav a {
  text-decoration: none;
  color: #254159;
}

nav a:hover {
  color: #385874;
}

section article {
  display: block;
  float: right;
  width: 70%;
}

.container-article {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: justify;
}

footer {
  background-color: #254159;
  color: #ffffff;
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

footer p {
  color: #ffffff;
  font-size: 1.4rem;
  padding: 10px;
}

footer small {
  font-size: 80%;
  display: block;
}

.cog-form__content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.textfooter {
  padding-top: 10px;
  padding-left: 10px;
}

ol {
  line-height: 1.9;
  padding-left: 40px;
}

section .cognito {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 380px;
  overflow: hidden !important;
  background-color: #b8c8d6;
  padding-left: 9%;
  width: 90%;
}

.container #formh1,
#formp,
.cognito {
  margin-left: 5% !important;
  margin-right: 5% !important;
}


#tenho-interesse {
  background-color: #b8c8d6;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.cognito {
  margin-left: auto !important;
  margin-right: auto !important;
}

#tenho-interesse .cog-form__container {
  background-color: #b8c8d6;
  margin-left: auto !important;
  margin-right: auto !important;
}

#tenho-interesse .cog-form__content {
  background-color: #b8c8d6 !important;
}

#tenho-interesse .cog-button__text {
  background-color: #c24b23 !important;
}





.legenda-container {
  width: auto;
  float: right;
  margin: 10vh 10vh 0 0;
}

.legenda {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.legenda h5,
.legenda h4 {
  color: #254159;
  line-height: 150%;
}

.button-cta {
  border-radius: 5px;
  display: inline;
  background-color: #c24b23;
  color: #ffffff;
  font-size: 2rem;
  box-shadow: 1px 1px 4px rgb(87, 86, 86);
  padding: 10px 15px;
  width: auto;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  font-weight: 400;
  float: left;
}

#saiba-mais {
  background: #eaeff3;
  padding-top: 10px;
  padding-bottom: 10px;
}

#saiba-mais p,
#saiba-mais img {
  width: 45%;
  display: block;
  float: left;
  padding: 20px 20px;
}



dt {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.6rem;
  padding-left: 10px;
  
}

dd {
margin: 20px;
font-size: 1.4rem;
padding-left: 10px;

}


@media (max-width: 768px) {
  section nav,
  .container,
  section article,
  article,
  footer {
    width: 100%;
  }

  .container #formh1,
  #formp,
  .cognito {
    margin-left: 2px !important;
  }

  img {
    max-width: 80%;
    height: auto;
  }

  .headerimg {
    display: block;

    padding-left: 10px;
  }
  h1 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  h3 {
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  h4 {
    font-size: 1.4rem;
    color: #254159;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  p {
    font-size: 1.2rem;
    padding-bottom: 5px;
    line-height: 1.4;
    color: #454545;
  }

  ol li {
    font-size: 1.2rem;
    line-height: 1.9;
  }

  section .cognito {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    overflow: hidden !important;
    background-color: #b8c8d6;
    padding-left: 5%;
    width: 90%;
  }

  .button-cta {
    border-radius: 5px;
    display: inline;
    background-color: #c24b23;
    color: #ffffff;
    font-size: 1.4rem;
    box-shadow: 1px 1px 4px rgb(87, 86, 86);

    width: auto;
    text-align: center;
  
    text-decoration: none;
    font-weight: 400;
   
  }

  .legenda-container {
    width: auto;
    float: left;
    margin: 20px 10px 0px 10px;
  }
  
  .legenda {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  
  .legenda h4 {
    font-size: 1.4rem;
    color: #254159;
    line-height: 150%;
  }

  .legenda h5 {
    font-size: 1rem;
    color: #254159;
    line-height: 150%;
  }


  
  dt {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 10px;
    
  }
  
  dd {
  margin-left: 20px;
   font-size: 1.0rem;
  }


#saiba-mais img {
  width: 100%;
  display: block;
  float: left;
  padding-left: 10px 0px 10px 10px;
  margin: 0px !important;
}
#saiba-mais p {
  width:80%;
  display: block;
  text-align: justify;
  padding-left: 10px 0px 10px 10px;
  margin: 0px !important;
}

#formp p{
  margin: 0px !important;
}

}

@media (max-width: 320px) {
  section nav,
  .container,
  section article,
  article,
  footer {
    width: 100%;
  }

  .container #formh1,
  #formp,
  .cognito {
    margin-left: 2px !important;
  }

  img {
    max-width: 80%;
    height: auto;
  }

  .headerimg {
    display: block;

    padding-left: 10px;
  }
  h1 {
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  h2 {
    font-size: 1.4rem;
    color: #254159;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.2rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  h4 {
    font-size: 1rem;
    color: #254159;
    margin-bottom: 10px;
    padding-top: 10px;
  }
 

  p {
    margin-bottom: 5px;
    line-height: 1.2;
    color: #454545;
  }

  section .cognito {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    overflow: hidden !important;
    background-color: #b8c8d6;
    padding-left: 5%;
    width: 80%;
  }

  #logo {
    margin: 5%;
    width: auto;
    height: auto;
    padding: 10px;
  }



  .button-cta {
    border-radius: 5px;
    display: inline;
    background-color: #c24b23;
    color: #ffffff;
    font-size: 1.4rem;
    box-shadow: 1px 1px 4px rgb(87, 86, 86);

    width: auto;
    text-align: center;
  
    text-decoration: none;
    font-weight: 400;
   
  }

  .legenda-container {
    width: auto;
    float: left;
    margin: 20px 10px 0px 10px;
  }
  
  .legenda {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  
  .legenda h4 {
    font-size: 1.4rem;
    color: #254159;
    line-height: 150%;
  }

  .legenda h5 {
    font-size: 1rem;
    color: #254159;
    line-height: 150%;
  }


  
  dt {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 10px;
    
  }
  
  dd {
  margin-left: 20px;
   font-size: 1.0rem;
  }


#saiba-mais img {
  width: 100%;
  display: block;
  float: left;
  padding-left: 10px 0px 10px 10px;
  margin: 0px !important;
}
#saiba-mais p {
  width:80%;
  display: block;
  text-align: justify;
  padding-left: 10px 0px 10px 10px;
  margin: 0px !important;
}

#formp p{
  margin: 0px !important;
}

}
